<header id="header" class="bg-cyan-800">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
        <a class="text-3xl text-orange-600 font-bold uppercase mr-4" routerLink="/">Memories</a>

        <div class="flex flex-grow items-center">
            <ul class="flex flex-row mt-1">
                <ng-template #links>
                    <li>
                        <a class="px-2" routerLink="/catalog" routerLinkActive="text-orange-400" [routerLinkActiveOptions]="{ exact: true }">Catalog</a>
                    </li>
                    <li>
                        <a class="px-2" routerLink="/upload" routerLinkActive="text-orange-400" [routerLinkActiveOptions]="{ exact: true }">Upload</a>
                    </li>
                    <li>
                        <a class="px-2" href="#" (click)="auth.logout($event)">Logout</a>
                    </li>

                </ng-template>
            </ul>

            <ul class="flex flex-row ml-auto">
                <li class="ml-3" *ngIf="!(auth.isAuth$ | async); else links">
                    <a class="px-2" href="#" (click)="openModal($event)">Login / Register</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

