<app-alert *ngIf="showAlert" [color]="alertColor">
    {{alertMessage}}
</app-alert>

<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-3">
        <label class="inline-block mb-2">Name</label>
        <app-input [control]="registerForm.controls.name" placeholder="Enter Name"></app-input>
    </div>
    <div class="mb-3">

        <label class="inline-block mb-2">Email</label>
        <app-input [control]="registerForm.controls.email" type="email" placeholder="Enter Email"></app-input>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2">Age</label>
        <app-input [control]="registerForm.controls.age" type="number" placeholder="Enter Age"></app-input>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2">Password</label>
        <app-input [control]="registerForm.controls.password" type="password" placeholder="Enter Password"></app-input>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2">Confirm Password</label>
        <app-input [control]="registerForm.controls.confirmPassword" type="password" placeholder="Enter Confirm Password"></app-input>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2">Phone Number</label>
        <app-input [control]="registerForm.controls.phoneNumber" placeholder="Enter Phone Number"
        format="000 000 0000"></app-input>
    </div>
    <button type="submit"
            class="block w-full bg-orange-400 text-white py-1.5 px-3 rounded transition
                hover:bg-orange-500 mt-10 disabled:opacity-50 disabled:hover:bg-orange-400" [disabled]="registerForm.invalid || inSubmission">
        Submit
    </button>
</form>
