<section class="container mx-auto my-8 bg-secondary p-6">
    <div class="rounded flex flex-col m-0">
        <h1 class="font-bold mb-2 text-3xl">{{post?.title}}</h1>
        <div class="text-gray-400 mb-6">
            Uploaded By Luis on
            <span>March 25, 2022</span>
        </div>

        <div class="grid grid-cols-2 ">
            <div >
                <p>{{post?.description}}</p>
            </div>
            <div class="text-center">
                <img class="max-h-[500px] scale-1000 m-0 inline" [src]="post?.imageUrl" alt="post-image">
            </div>
        </div>

    </div>
</section>

