@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #161d31;
}

.material-icons.text-base {
    font-size: inherit;
}

.bg-secondary {
    background-color: #283046;
}

.latest {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
}

.latest:after, .latest:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #fff;
}


