<section class="relative overflow-hidden mb-2 text-black title">
    <div class="container mx-auto relative z-50">
        <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
            <h1 class="text-7xl font-bold uppercase mb-2">Clip it and ship it!</h1>
            <p>
                The #1 app to travel, photograph, and share your awesome adventurous moments
                with your friends and the world! With our world-class tools, we make
                it incredibly easy to share your photos. Get started today!
            </p>
        </div>
    </div>
</section>

<section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest
        Posts</h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div *ngFor="let post of posts" class="mt-6 rounded-md shadow-xl bg-secondary max-h-[800px] flex flex-col justify-start overflow-hidden">

            <a [routerLink]="['/post/', post.id]" class="text-center">
                <img class="card-img-top rounded-tl-2xl w-fit max-h-[500px] inline" [src]="post.imageUrl">
            </a>

            <div class="p-6 text-2xl">

                <a [routerLink]="['/post/', post.id]" class="font-bold mb-2">
                    {{ post.title }}
                </a>

            </div>

            <p class="mb-0 pl-6 pb-8">
                {{post?.author}} &#183;
                <span class="text-gray-400">{{post?.timestamp?.toDate() | date: 'dd MMM YYYY' }}</span>
            </p>
        </div>
    </div>
</section>
